<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trip Visualizer</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <link rel="stylesheet" href="/styles.css">
</head>
<body style="background: url(./assets/images/background.jpg); background-size: cover; background-repeat: no-repeat;">
    <header class="header">
        <div class="header__main">
            <div class="header__logo">
                <img src="/assets/images/trip-visualizer.svg" class="header__logo__img" alt="logo of trip visualizer">                
            </div>
            <div class="header__title">
                <p class="text-content header__title__text">Trip Visualizer</p>
            </div>
        </div>

        <div class="header__nav">
            <ul class="header__nav__ul">
                <li id="demo" class="header__nav__item"><a class="header__nav__item__anchor" href="#">Test</a></li>
                <li id="about" class="header__nav__item"><a class="header__nav__item__anchor" href="#">About</a></li>
                <li id="social-button" class="header__nav__social"><a class="header__nav__social__anchor" target="_blank" href="https://www.linkedin.com/in/jagadeesh59621/"><img src="/assets/images/linkedin.svg" alt="my Linkedin profile"></a></li>
                <li id="social-button" class="header__nav__social"><a class="header__nav__social__anchor" target="_blank" href="https://github.com/thinkingape46"><img src="/assets/images/github.svg" alt="my Gihhub profile"></a></li>
                <li id="show-social-buttons" class="header__nav__item header__nav__item__contact"><a class="header__nav__item__anchor" href="#">Contact</a></li>
            </ul>
        </div>
    </header>

    <div class="main-container">
        <div class="input-container">
            <div class="input-container__component drop-area" id="drag-drop" draggable="true">
                <p class="drop-area__text-content">Drop files here</p>
            </div>

            <div class="input-container__component form-container">
                <div class="select-files">
                    <button class="btn btn__large btn--red-gradient btn--round-edge" id="add-files"><p class="text-content select-files__text-content">Add Files</p></button>

                    <form class="submit-files">
                        <input type="file" class="gpx-file-input" id="gpx-file" multiple>
                        <button class="btn btn--green btn--round-edge" id="submit" type="submit"><p class="text-content submit-files__text-content">Plot GPX</p></button>
                    </form>
                </div>

            </div>
            
            <div class="input-container__component connect-strava">
                <button class="btn btn--orange btn--round-edge"><p class="text-content">Connect Strava</p></button>
            </div>
        </div>    
        <div class="map-container">
            <div id="mapid" class="map-id"></div>
        </div>
        <div class="stats-container"></div>
    </div>



    <script src="/main-bundled.js"></script>
    <script src="/1.main-bundled.js"></script>
</body>
</html>