.about {
    position: fixed;
    visibility: hidden;
    opacity: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1000;

    &__is-visible {
        opacity: 0%;
        transform: scale(2);
        visibility: hidden;
        transition: all 0.5s ease-out;
    }

    &__container {
        width: 55%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 1000;
        height: 75%;
        background: linear-gradient($mainGrey, $darkGrey);
    }

    &__title {
        text-align: center;
        margin-top: 40px;
    }
    &__text {
        padding: 20px;
        margin: 10px 30px auto 30px;
        font-size: 1.2rem;

        &--item li {
            padding-bottom: 5px;
        }
    }
}

.close-button {    
        position: absolute;
        height: 45px;
        right: 5px;
        top: 5px;
        cursor: pointer;

        &:hover {
            transform: rotate(180deg);
            transition: all 0.3s ease-in-out;
        }
}