.about {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transform: scale(2);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1000;    
    transition: all 0.5s ease-out;

    &--is-visible {
        opacity: 1;
        transform: scale(1);
        visibility: visible;
        transition: all 0.5s ease-out;
    }

    &__container {
        position: relative;
        width: 100%;
        margin: auto;
        z-index: 1000;
        height: 100%;
        background: linear-gradient(45deg, #5c5c5c, #363636);

        &__ul {
            padding: 80px;
        }

        &__content {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            overflow: scroll;

            &__title {
                position: relative;
                text-align: center;
                margin-top: 50px;
            }
            &__text {
                position: relative;
                padding: 10px;
                margin: 10px 30px auto 30px;
                font-weight: 200;
        
                &__item {
                    font-size: 1.1rem;
                    padding-bottom: 17px;
                    list-style: none;
                }
            }
        }
    }
}

.close-button-image {    
        position: absolute;
        height: 35px;
        right: 23px;
        top: 5px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        z-index: 1100;

        &:hover {
            transform: rotate(180deg);
        }
}

@media (max-width: 425px) {
    .about__container {
        width: 100%;
        height: 100%;

        &__ul {
            padding: 25px;
        }

        &__content {

            &__text {
                margin: 8px;                
            }

            &__title {
                font-size: 1.3rem;
            }

            &__text {
                &__item {
                    padding-bottom: 9px;
                    font-weight: 100;
                    font-size: 0.8rem;
                    overflow: scroll;
                }
            }
        }
    }
    .close-button-image {
        right: 5px;
}
}