.btn {    
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 50px;
    background-color: $mainGrey;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-out;

    &__large {
        height: 75px;
    }

    &--green {
        background-color: $mainGreen;

        &:hover {
            background-color: $lightGreen;
        }
    }

    &--red-gradient {
        background-color: $mainRed;
        
        &:hover {
            background-color: $lightRed;
        }
    }

    &--round-edge {
        border-radius: 5px;
    }


}