.drop-area {
    display: flex;
    height: 100px;  
    background-color: #fff;
    border: 2px dashed $darkGrey;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: #000;
    font-size: 1.5rem;
    font-weight: 300;
    
    &__drag-over {
        z-index: 2001;
        background-color: $mainGrey;
        border-radius: 5px;

        .drop-area__text-content {
            color: #fff;
        }
    }
}

.paint-white {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 2000;
    visibility: hidden;
    transition: all 0.3s ease-in-out;

    &--is-visible {
        visibility: visible;
        opacity: 100%;
    }
}

@media (max-width: 1000px) {
    .drop-area {
        display: none;
    }
}