.footer {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80px;

    &__text {
        
        font-size: .8rem;
        text-align: center;
        margin: auto;
        color: #fff;

        &:visited {
            color: #fff;
        }
    }
}

@media (max-width: 425px) {
    .footer {
        height: 30px;

        &__text {
            font-weight: 200;
            font-size: .8rem;
        }
    }
}