.footer {
    display: flex;

    &__text {
        text-align: center;
        margin: auto;
    }
}

@media (max-width: 600px) {
    .footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 30px;
        background: linear-gradient(45deg, #5c5c5c, #363636);

        &__text {
            font-weight: 200;
            font-size: .8rem;
        }
    }
}