.graph-container {
        display: block;
        height: 40%;
        width: 100%;
}

.graph {
    display: block;
    height: 30%;
    width: 100%;
    padding: 15px 10px 0 10px;
    box-sizing: border-box;
}

@media (max-width: 425px) {
    .graph {
        padding: 5px 10px 0 10px;
    }
}