.graph-container {
    flex-basis: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 10px 0 0 0;
}

.graph {
    background: linear-gradient(45deg, $darkGrey, $mainGrey);
    box-shadow: 0 0 1px #fff;
    flex-basis: 30%;
    height: 95px;
}

@media (max-width: 600px) {
    .graph-container {
        flex-basis: 40%;
        margin: 2px 0 0 0;
    }
    .graph {
        height: 43px;
    }
}