.graph-container {
        position: relative;
        display: block;
        height: 35%;
        width: 100%;

        &__graph {
            position: relative;
            height: 30%;
            width: 100%;
        }

        &__canvas {
            display: block;
            height: 100%;
            width: 100%;
            padding: 15px 10px 0 10px;
            box-sizing: border-box;
        }

        &__title {
            position: absolute;
            margin: 0;
            font-weight: 200;
            font-size: 0.65rem;
            right: 2%;
            bottom: 0%;
            padding: 0 5px;
            box-sizing: border-box;
        }

        &__stats {
            position: absolute;
            margin: 0;
            left: 2%;
            bottom: 3%;
            padding: 0 5px;
            box-sizing: border-box;
            font-weight: 200;
            font-size: 0.65rem;
        }
}

@media (max-width: 425px) {
    .graph-container {

        &__canvas {
            padding: 5px 10px 0 10px;
        }

        &__stats {
            bottom: 0;
            font-size: 0.5rem;
        }
        &__title {
            font-size: 0.5rem;
        }

    }
}