.header {    
    margin-top: 30px;
    width: 50%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;

    &__title {
        display: flex;

        &__text {
            font-size: 2em;
            margin: auto;
            margin-left: 0;
            color: #fff;
            font-weight: 400;
        }
    }
}