.header {
    display: flex;
    margin-top: 20px;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    color: #000;

    &__main {
        flex-basis: 24%;
        display: flex;
        margin: auto;
    }

    &__nav {
        flex-basis: 76%;
    }

    &__title {
        display: flex;
        font-size: 1.25em;
        margin: auto;
        margin-left: 0;
        font-weight: 300;
        color: #000;
    }
}

@media (max-width: 768px)  and (min-width: 601px) {
    .header {
        margin: 10px 20px;
    }
}

@media (max-width: 600px) {
    .header {
        flex-direction: column;
        background-color: $lightGrey;
        opacity: 80%;
        margin-top: 0;
    }
}