.input-container {
    flex-basis: 20%;
    background-color: $darkGreyTransparent;
    display: flex;
    flex-direction: column;

    &__component {
        margin: 5px auto;
        width: 93%;

        &__text-content {
            margin: auto;
        }
    }
}

@media (max-width: 1000px) {
    .input-container {
        margin: 10px;
        display: inline-block;

        &__component {
            position: relative;  
            margin: 10px auto;
            width: 93%;
            height: auto;
        }
    }
}
@media (max-width: 600px) {
    .input-container {
        margin: 5px;
        flex-basis: auto;
        background-color: rgba(0,0,0,0);
    }
}