.input-container {
    flex-basis: 24%;
    background-color: $darkGreyTransparent;
    height: 600px;

    &__component {
        margin: 10px auto 0 auto;
        width: 93%;
        height: 75px;
    }
}

@media (max-width: 1000px) {
    .input-container {
        flex-basis: 100%;
        margin-bottom: 10px;
        display: inline-block;

        &__component {
            position: relative;  
            margin: 10px auto 0 auto;
            width: 93%;
            height: auto;
        }
    }
}
@media (max-width: 600px) {
    .input-container {
        margin-bottom: 6px;
    }
}