.input-container {
    flex-basis: 24%;
    background-color: $darkGreyTransparent;
    height: 600px;

    &__component {
        position: relative;  
        margin: 10px auto 0 auto;
        width: 93%;
        height: 75px;
    }
}