.main-container {
    display: flex;
    justify-content: space-between;
    max-width: 99%;
    height: 75.5vh;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 425px) {
    .main-container {
        flex-direction: column;
        overflow: auto;
        margin-top: 0;
        justify-content: start;
    }
}