.map-container {
    flex-basis: 48%;
    margin-bottom: 10px;
}

.map-id {
    background-color: lightblue;
    box-shadow: 0 0 13px #000;
    height: 65%;
}

@media (max-width: 425px) {
    .map-container {
        margin-bottom: 0;
        height: 300px;
        flex-basis: auto;
    }
}