.header__nav {
    display: flex;    
    margin: auto auto 10px auto;

    &__ul {      
        margin: auto 0 auto auto;
        font-weight: 300;
        font-size: 1.2rem;
        transition: all 0.3s;
        display: flex;
    }

    &__item {
        margin-left: 7px;
        list-style: none;
        display: flex;

        &__anchor {
            text-decoration: none;
            padding: 10px;
            max-width: 85px;

            text-align: center;
            display: block;

            &:active, &:visited {
                color: inherit;
            }
        }

        &__contact {
            background-color: $mainGrey;
            color: #fff;
            padding: 0 10px;

            &:hover {
                background-color: $mainGrey;
            }
        }
    }

    &__social {
        height: 43px;
        list-style: none;
        margin-left: 7px;;
        opacity: 0;
        width: 0px;
        z-index: -99;
        transition: all 0.5s ease-in-out;

        &--is-visible {
            opacity: 1;
            display: block;
            width: 43px;
            z-index: 1;
        }

        & img {
            height: 43px;
        }
    }
}


@media (max-width: 768px) {
    .header__nav {
        &__ul {
            font-size: 1rem;
        }
        &__item {
            margin-left: 5px;
    
            &__anchor {
                max-width: 50px;
            }    
            &__contact {
                padding: 0 7px;
            }
        }
    }
}