.header__nav {
    display: flex;

    &__ul {      
        margin: auto 0 auto auto;
        font-weight: 300;
        font-size: 1.2rem;
        transition: all 0.3s;
        display: flex;
    }

    &__item {
        margin-left: 20px;
        list-style: none;
        display: flex;

        & a {
            text-decoration: none;

            &:active, &:visited {
                color: inherit;
            }
        }
    }
}