.gpx-file-input {
    display: none;
}

.select-files {
    margin: 0 auto;
    width: 100%;
    position: relative;
    height: 100px;

    &__text-content {
        width: 50%;
        font-size: 1.5rem;
    }
}

#add-files {
    height: 100%;
}

.submit-files {
    position: absolute;
    width: 40%;
    height: 50%;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    right: 3%;
    
    &__text-content {
        font-size: 1rem;
    }
}

#submit {
    height: 100%;
}

@media (max-width: 1000px) {
    .form-container {
        flex-basis: 100%;
        margin-bottom: 10px;
        display: grid;
    }
}

@media (max-width: 600px) {
    .select-container {
        margin: 0 auto;
    }
    .select-files {
        height: 50px;
        width: 50%;

        &__text-content {
            font-size: 1rem;
        }
    }
    .submit-files {
        height: 75%;

        &__text-content {
            font-size: 0.9rem;
        }
    }
}