.stats-container {
    flex-basis: 32%;
    background-color: $darkGreyTransparent;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__heading {
        font-weight: 200;
        text-align: center;
        padding: 15px 0 1px 0;
        box-sizing: border-box;
        margin: 0;
    }
}
@media (max-width: 600px) {
    .stats-container {
        flex-grow: 1;
        flex-basis: 37%;

        &__heading {
            padding: 5px 0;
            font-size: 0.8em;
        }
    }
}

/* styling for activity box are listedi in "_stats_box.css" */