.stats-container {
    flex-basis: 25%;
    background-color: $darkGreyTransparent;
    box-shadow: 0 0 5px $mainGrey;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__heading {
        font-weight: 200;
        text-align: center;
        padding: 15px 0 1px 0;
        box-sizing: border-box;
        margin: 0;
    }
}
@media (max-width: 425px) {
    .stats-container {
        flex-grow: 1;
        flex-basis: 37%;
        display: none;
        margin-top: 8px;

        &--is-visible {
            display: flex;
        }

        &__heading {
            padding: 3px 0;
            font-size: 0.65em;
        }
    }
}

/* styling for activity box are listedi in "_stats_box.css" */